{{#if (not cellConfig.hideLabel)}}
  <label class={{labelWrapperClassName}}>
    {{renderLabel}}
    {{#if showRequiredLabel}}
      <div class='frost-bunsen-required'>Required</div>
    {{/if}}
  </label>
{{/if}}
<div class={{inputWrapperClassName}}>
  {{#if updateItemsOnOpen}}
    {{frost-multi-select
      class=valueClassName
      data=options
      disabled=disabled
      error=(if renderErrorMessage true false)
      hook=hook
      onChange=(action 'handleChange')
      onClick=(action 'updateItemsOnOpen')
      options=selectSpreadProperties
      placeholder=placeholder
      selectedValue=mutableValue
      width=width
    }}
  {{else}}
    {{frost-multi-select
      class=valueClassName
      data=options
      disabled=disabled
      error=(if renderErrorMessage true false)
      hook=hook
      onChange=(action 'handleChange')
      options=selectSpreadProperties
      placeholder=placeholder
      selectedValue=mutableValue
      width=width
    }}
  {{/if}}
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
{{#if renderErrorMessage}}
  <div class='frost-bunsen-error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
